.not-visible{
    display: none;
}

.dz{
    border-style: dashed;
    border-radius: 5px;
    border-color: #ddd;
    transition: .5s;
}

.dz:hover{
    background-color: blueviolet;

}

.avatar-big{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

.avatar-sm{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
}

.active-link{
    border-bottom: 2px solid  blue !important;
    font-size: 1rem;
}